node_modules
.next
out
build
dist

.env
.env.local
.env.*.local

.storage
.storage-test
.tsbuildinfo
*.tsbuildinfo
tsconfig.tsbuildinfo

.pnpm-debug.log*
.yarn-error.log*
npm-debug.log*

coverage
.vitest-cache
playwright-report
test-results
.mnt

.DS_Store
Thumbs.db

.vscode
.idea

# Prisma engine binaries fetched at build time
node_modules/.prisma
